@import 'tailwindcss';

.custom-scrollbar{
    scrollbar-width: thin;
    scrollbar-color: rgba(156, 163, 175, 1) transparent; /* thumb color and track color */
}

.custom-allscrollbar {
    scrollbar-width: none; /* Firefox */
}

.custom-allscrollbar::-webkit-scrollbar {
    width: 0px; /* Chrome, Safari, Edge */
    height: 0px;
}

.custom-allscrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-allscrollbar::-webkit-scrollbar-thumb {
    background: transparent;
}

:root {
  --bg: #f9fafb;
  --bg-soft: #ffffff;
  --text: #111827;
  --text-muted: #6b7280;
  --accent: #E0B84C;
  --accent-soft: #fef3c7;
  --border: #e5e7eb;
  --danger: #DC2626;
}

:root.dark {
  --bg: #050816;
  --bg-soft: #111827;
  --text: #f9fafb;
  --text-muted: #9ca3af;
  --accent: #E0B84C;
  --accent-soft: #3f3f46;
  --border: #1f2933;
  --danger: #F87171;
}

body {
  background-color: var(--bg);
  color: var(--text);
}
